
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<META NAME="description" content="Chinese Checkers is a PC-Game written in HTML and JavaScript">
<META NAME="author" content="Lutz Tautenhahn">
<META NAME="keywords" content="Game, Chinese Checkers, JavaScript">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<title>Chinese Checkers</title>
<script language="JavaScript" src="javascripts/all.js"></script>
</head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>