<BODY bgcolor=#eeeeee text=#000000 onResize="javascript:Resize()">
<form name="OptionsForm">
<DIV ALIGN=center>
<table border=0 cellpadding=0 cellspacing=0>
<tr><th><table border=0 cellpadding=0 cellspacing=0><tr>
  <td background="chinesecheckersbg.gif" width=377 height=452 align=center valign=middle>
      <script language="JavaScript">
      document.open("text/plain");
      for (j=0; j < 4; j++)
      { for (i=0; i <=j; i++)
          document.write("<IMG src=\"chinesecheckers00.gif\" border=0 onMouseDown=\"MouseDown("+eval(i+12-j)+","+j+")\">");
        document.write("<br>");
      }
      for (j=4; j < 9; j++)
      { for (i=0; i < 17-j; i++)
          document.write("<IMG src=\"chinesecheckers00.gif\" border=0 onMouseDown=\"MouseDown("+eval(i+4)+","+j+")\">");
        document.write("<br>");
      }
      for (j=9; j < 13; j++)
      { for (i=0; i <= j; i++)
          document.write("<IMG src=\"chinesecheckers00.gif\" border=0 onMouseDown=\"MouseDown("+eval(i+12-j)+","+j+")\">");
        document.write("<br>");
      }
      for (j=13; j < 17; j++)
      { for (i=0; i < 17-j; i++)
          document.write("<IMG src=\"chinesecheckers00.gif\" border=0 onMouseDown=\"MouseDown("+eval(i+4)+","+j+")\">");
        document.write("<br>");
      }
      
      document.close();
      </script>
  </td></tr></table></th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  <th><table border=0 cellpadding=2 cellspacing=2><tr><th>
    <table border=2 cellpadding=2 cellspacing=2><tr><th>
      <table border=0 cellpadding=1 cellspacing=1>
        <tr><th>&nbsp;</th>
            <th bgcolor=#DDDDDD width=76>Human</th>
            <th bgcolor=#DDDDDD width=76>Computer</th></tr>
        <tr><th><img src="chinesecheckers10.gif"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player0" checked onClick="javascript:SetPlayer(0,1)"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player0" onClick="javascript:SetPlayer(0,0)"></th></tr>
        <tr><th><img src="chinesecheckers20.gif"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player1" onClick="javascript:SetPlayer(1,1)"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player1" checked onClick="javascript:SetPlayer(1,0)"></th></tr>
        <tr><th><img src="chinesecheckers30.gif"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player2" checked onClick="javascript:SetPlayer(2,1)"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player2" onClick="javascript:SetPlayer(2,0)"></th></tr>
        <tr><th><img src="chinesecheckers40.gif"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player3" onClick="javascript:SetPlayer(3,1)"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player3" checked onClick="javascript:SetPlayer(3,0)"></th></tr>
        <tr><th><img src="chinesecheckers50.gif"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player4" checked onClick="javascript:SetPlayer(4,1)"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player4" onClick="javascript:SetPlayer(4,0)"></th></tr>
        <tr><th><img src="chinesecheckers60.gif"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player5" onClick="javascript:SetPlayer(5,1)"></th>
            <th bgcolor=#DDDDDD><input type=radio name="Player5" checked onClick="javascript:SetPlayer(5,0)"></th></tr>
      </table>
    </th></tr></table>  
    </th></tr><tr><th>
    <table border=2 cellpadding=2 cellspacing=2><tr><th>   
      <table border=0 cellpadding=1 cellspacing=1>
        <tr bgcolor=#DDDDDD><th colspan=6>Who is playing:</th></tr>
        <tr><th><img src="chinesecheckers10.gif"></th>
            <th><img src="chinesecheckers20.gif"></th>
            <th><img src="chinesecheckers30.gif"></th>
            <th><img src="chinesecheckers40.gif"></th>
            <th><img src="chinesecheckers50.gif"></th>
            <th><img src="chinesecheckers60.gif"></th>
        </tr>
        <tr bgcolor=#DDDDDD>
            <th><input type=checkbox name="Playing" onClick="javascript:SetPlaying(0, this.checked)" checked></th>
            <th><input type=checkbox name="Playing" onClick="javascript:SetPlaying(1, this.checked)"></th>
            <th><input type=checkbox name="Playing" onClick="javascript:SetPlaying(2, this.checked)"></th>
            <th><input type=checkbox name="Playing" onClick="javascript:SetPlaying(3, this.checked)" checked></th>
            <th><input type=checkbox name="Playing" onClick="javascript:SetPlaying(4, this.checked)"></th>
            <th><input type=checkbox name="Playing" onClick="javascript:SetPlaying(5, this.checked)"></th>        
        </tr>
      </table>
    </th></tr></table>    
    </th></tr><tr><th>
    <table border=2 cellpadding=2 cellspacing=2><tr><th>     
      <table border=0 cellpadding=1 cellspacing=1>
        <tr bgcolor=#DDDDDD><th colspan=6>Who is moving next:</th></tr>
        <tr><th><img src="chinesecheckers10.gif"></th>
            <th><img src="chinesecheckers20.gif"></th>
            <th><img src="chinesecheckers30.gif"></th>
            <th><img src="chinesecheckers40.gif"></th>
            <th><img src="chinesecheckers50.gif"></th>
            <th><img src="chinesecheckers60.gif"></th>
        </tr>
        <tr bgcolor=#DDDDDD>
            <th><input type=radio name="Start" onClick="javascript:SetStart(0)" checked></th>
            <th><input type=radio name="Start" onClick="javascript:SetStart(1)"></th>
            <th><input type=radio name="Start" onClick="javascript:SetStart(2)"></th>
            <th><input type=radio name="Start" onClick="javascript:SetStart(3)"></th>
            <th><input type=radio name="Start" onClick="javascript:SetStart(4)"></th>
            <th><input type=radio name="Start" onClick="javascript:SetStart(5)"></th>        
        </tr>
      </table>
    </th></tr></table>     
    </th></tr><tr><th>      
    <table border=0 cellpadding=0 cellspacing=0>
        <tr><th><input type=button value="New" width=40 style="width:40px;font-size:15px" onClick="javascript:Init()"></th>
            <th>
            <table noborder width=100% cellpadding=0 cellspacing=0><tr>
            <th><input type=button value="&lt;&lt;" width=23 style="width:23px;font-size:15px" onClick="javascript:AllBack()" title="all players back"></th>
            <th><input type=button value="&lt;" width=23 style="width:23px;font-size:15px" onClick="javascript:Back()" title="one move back"></th>
            <th><input type=button value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" width=32 style="width:32px;font-size:15px;background-color:#FFFFFF;font-weight:bold" disabled name="Moves"></th>
            <th><input type=button value="&gt;" width=23 style="width:23px;font-size:15px" onClick="javascript:Replay()" title="one move forward"></th>
            <th><input type=button value="&gt;&gt;" width=23 style="width:23px;font-size:15px" onClick="javascript:AllReplay()" title="all players forward"></th>
            </tr></table>
            </th> 
            <th><input type=button value="Help" width=40 style="width:40px;font-size:15px" onClick="javascript:Help()"></th></tr>
      </table></th></tr></table>
  </th>
</tr>
</table>
</DIV>
</form>
<script language="JavaScript">
  Init();
  setInterval("Timer()",500);
</script>
</BODY>
</HTML>